{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "curly": "warn",
    "eqeqeq": "warn",
    "no-throw-literal": "warn",
    "semi": "off"
  },
  "overrides": [
    {
      "files": ["*.spec.ts"],
      "plugins": ["mocha"],
      "env": {
        "mocha": true
      },
      "rules": {
        "mocha/no-exclusive-tests": "error"
      }
    }
  ]
}
