{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "plugins": [
        "mocha"
      ],
      "env": {
        "mocha": true
      },
      "rules": {
        "mocha/no-exclusive-tests": "error"
      }
    }
  ]
}
